@import url('https://cdn.jsdelivr.net/gh/chandan-tudu/cascadia-code@master/style.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    line-height: 1.5em;
}

:root {
    --bg-color: #fff;
    --bg-color2: #fff;
    --code-bg: #efefef;
    --code-border: transparent;
    --s-code-bg: var(--code-bg);
    --box-shadow: none;
    --color: #222;
    --color2: #222;
    --text-bright:#000;
    --s-code-color: var(--color);
    --link-color: #1a0dab;
    --font: 'Noto Sans', sans-serif;
    --code-font:monospace, 'Cascadia Code';
    --radius: 3px;
    --border: #dbdbdb;
}
:root[dark-theme] {
    --bg-color: #222;
    --bg-color2: rgba(0, 0, 0, 0.1);
    --color: rgba(255, 255, 255, 0.9);
    --color2: #fff;
    --text-bright:#fff;
    --link-color: orange;
    --s-code-color: #f7f1ff;
    --code-bg: var(--bg-color);
    --s-code-bg: rgba(0, 0, 0, 0.4);
    --code-border: rgba(255, 255, 255, 0.1);
    --box-shadow: none;
    --border: rgba(255, 255, 255, 0.1);
}

html{
  font-size: 18px;
}
@media (max-width: 700px) {
  html{
    font-size: 16px;
  }
}

body {
    font-family: var(--font);
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
    color: var(--color);
    font-size: 1rem;
}

h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: .75rem;
    margin-top: 1.5rem;
    color: var(--text-bright);
  }

  th,
  strong{
    color: var(--text-bright);
  }

svg {
    display: inline-block;
    vertical-align: middle;
}

.nav-links,
.header,
.footer,
.article-container {
    max-width: 900px;
    margin: 0 auto;
}

.header,
.footer {
    position: relative;
    padding: 20px;
}
.footer{
    display:none;
}
.article-container {
    background: var(--bg-color2);
    padding: 20px 50px;
    box-shadow: var(--box-shadow);
}

h1 {
    font-size: 2.5em;
    position: relative;
    padding-bottom: 15px;
}
h1::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 50px;
    background: var(--color);
    left: 0;
}
h1::after {
    content: '';
    position: absolute;
    bottom: 3px;
    height: 1px;
    width: 80px;
    background: var(--color);
    left: 0;
}


.nav-links{
    padding: 20px; 

}
.nav-links ul{
    all:unset;
    list-style-type: none;
    display: flex;  
    justify-content: center;
    flex-wrap: wrap; 
}
.nav-links li a{
    display: inline-block;
    padding: 1px 15px;
    font-size: 14px;
    border-radius: 20px;
    background-color: var(--bg-color2);
    border: 1px solid rgba(0, 0, 0, .1);
    text-transform: uppercase;
}

.box {
    border-bottom: 5px solid var(--color);
}

h2 {
    font-size: 2em;
}

/* code {
    display: inline-block;
    padding: 0 3px;
    font-size: 0.8em;
} */


:not(pre) > code {
  font-family: var(--code-font);
  font-size: .87em;
    padding: 0 5px;
    border-radius: var(--radius);
    background: var(--s-code-bg);
    display:inline-block;
    white-space:nowrap;
    vertical-align: middle;
    color: var(--text-bright);

    /* background: var(--s-code-bg);
    color: var(--s-code-color);
    border:2px solid var(--color);
    box-shadow:2px 2px var(--color);
    font-size: .70em;
    font-weight: 700;
    vertical-align: middle;
    letter-spacing:.05em;
    border-radius: 0;
    display:inline-block;
    white-space:nowrap;
    margin-left:4px;
    margin-right:4px; */
}

pre {
    padding: 0;
    margin: 0.5em 0;
    overflow: auto;
    border: 5px solid var(--code-border);
    background: var(--code-bg);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        border-radius: var(--radius);
}

pre code {
    display: block;
    box-shadow: none;
    border: 0;
    background: none;
    font-size: 17px;
    padding: 10px;
    white-space: pre;
    word-break: normal;
    padding: 20px;
    overflow-x: auto;
    font-weight: normal;
}

:is(h2,h3,h4,h5,h6) code{
  /* color: red ; */
  font-size: 1em;
  background: none ;

}
pre:not([class*=language-]){
  /* background: none; */
  border:2px solid var(--border);
  box-shadow:2px 2px var(--border);
}

.img {
    overflow: hidden;
    margin: 2rem 0;
}
/* img {
    max-width: 100%;
    max-height: 1080px;
    height: auto;
    display: inline-block;
    border-radius: var(--radius);
} */

img,
video {
  max-width: 100%;
  height: auto;
  border-radius: var(--radius);
}


a {
    all: unset;
    cursor: pointer;
    color: var(--link-color);
    /* opacity: 0.9; */
}
a:hover {
    opacity: 1;
    text-decoration: underline 2px;
}

hr {
  border: none;
  border-top: 1px solid var(--border);
}

.article-container :is(ul,ol) li{
    margin-bottom: .7em;
}

@media (max-width: 700px) {
    
    .article-container {
        padding: 20px;
    }
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    pre code {
        font-size: 15px;
    }

    code[class*='language-'],
    pre[class*='language-'] code {
        font-size: 15px;
    }
}

@media (max-width: 950px) {
    .article-container{
        box-shadow: none;
    }
    .footer{
        background: var(--bg-color2);
        padding: 0;
    }
    .header{
        background: var(--bg-color2);
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }
}

/* Dynamic */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 18px;
    font-family: 'Cascadia Code', 'Ubuntu Mono', monospace;
    font-style: italic;
    font-feature-settings: 'calt', 'ss01';
    color: var(--color);
    text-decoration: underline double;
    user-select: none;
}
.logo:hover{
    text-decoration: underline double;
    color: var(--link-color);
}

.theme-switch {
    all: unset;
    user-select: none;
    cursor: pointer;
}


.list-container{
    background: none;
    box-shadow: none;

}

.post-list{
    all: unset;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.post-list li{
    margin:0 !important;
    background-color: var(--bg-color2);
    padding:5px 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
}
.post-list li a{
    font-size: 15px;
    line-height: 1.5em;
    display: block;
    color: var(--color);
    text-decoration-thickness: inherit;
}
/* Test */
.sheet:is(ol,ul){
    /* border:1px solid red; */
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 2em;
    counter-reset: rowNumber;
   
}

.sheet:is(ol,ul)>li{
    /* border: 1px solid red; */
    margin: 2em 0;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 20px; position: relative;
}
.sheet:is(ol,ul)>li>:first-child::before{
    margin-right: 5px;
    content: counter(rowNumber) ".";
    counter-increment: rowNumber;
 
}


@media (max-width:750px) {
    .post-list{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:580px) {
    .post-list li a{
        font-size: 14px;
    }
    .post-list{
        grid-template-columns: 1fr;
    }
}